@font-face {
    font-family: 'Mona Sans';
    src: url('../../assets/fonts/MonaSans-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona Sans';
    src: url('../../assets/fonts/MonaSans-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Mona Sans';
    src: url('../../assets/fonts/MonaSans-Bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
